.Brands {
  background: var(--color-bg-2);
  padding: 2px 0;
}

.brands-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 100px;
  align-items: center;
}

/* ------------------------max width 1024px-------------------------------------- */

@media (max-width: 1024px) {
  .brands-container {
    gap: 25px;
  }
}

/* ------------------------max width 600px-------------------------------------- */

@media (max-width: 600px) {
  .brands-container {
    gap: 15px;
  }
}
